<div class="root">
  <div class="inline">
    <h1>Kanban Board</h1>
    <div class="menu">
      <button mat-stroked-button style="width:6rem;">
        <span class="material-icons">
          add
        </span>Add</button>
      <button mat-stroked-button style="width:6rem;">Action</button>
    </div>
  </div>
  <div class="board">
    <div class="board-wrapper">
      <div class="board-columns">
        <div cdkDropList cdkDropListOrientation="horizontal" class="board-columns"
          (cdkDropListDropped)="dropGrid($event)">
          <div cdkDragLockAxis="x" class="board-column" *ngFor="let column of board.columns" cdkDrag>
            <div class="column-title" cdkDragHandle>
              <button mat-raised-button [ngStyle]="{backgroundColor: column.colorCode}">{{ column.columnName }}
                ({{column.tasks.length}})</button>
            </div>
            <div class="tasks-container" id="{{column.id}}" [cdkDropListConnectedTo]="['1', '2','3','4']" cdkDropList
              [cdkDropListData]="column.tasks" (cdkDropListDropped)="drop($event)">
              <div class="task" [ngStyle]="{borderLeft: '4px solid '+column.colorCode}"
                *ngFor="let item of column.tasks" cdkDrag>
                <div class="d-flex justify-content-between align-items-center">
                  <p class="text-muted" style="font-weight: 500;font-size: 20px;height: 100%;margin-top: 10px;">
                    {{ item.taskName }}</p>
                  <span class="material-icons" style="font-size: 28px;">
                    account_circle
                  </span>
                </div>
                <div class="d-flex justify-content-between align-items-center">

                  <button (click)="openDialog(item)" mat-icon-button>
                    <span class="material-icons">
                      edit_note
                    </span>
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>


      </div>
    </div>
  </div>
</div>
